<a href="https://colab.research.google.com/github/SHAHAB-UDDIN54/Artificial-intelligence-Ai-projects/blob/main/Untitled55.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
dataset = pd.read_excel("/content/hospital_patient_dataset_50.xlsx")
print(dataset.head(5))

  Patient_ID   Name   Age  Gender  Department     Doctor Admission_Date  \
0       P001   John  10.0     Nan  Cardiology  Dr. Smith     2025-03-03
1       P002   Sara   NaN    Male         NaN   Dr. Khan     2025-01-28
2       P003  David  73.0    Male    Oncology    Dr. Lee     2025-03-07
3       P004  Priya  48.0    Male    Oncology  Dr. Brown     2025-01-31
4       P005  Priya  18.0  Female     General  Dr. Brown     2025-01-13

  Discharge_Date  Diagnosis  Room_No  Bill_Amount      Status
0            NaN      Fever      213     29295.35  Discharged
1     2025-02-03  Infection      339     20981.68    Admitted
2     2025-03-11        NaN     -343      2673.43    Admitted
3     2025-02-09  Infection      251     28035.81  Discharged
4     2025-01-19   Diabetes      214     37277.72  Discharged

checking the missing value

In [6]:
print('Missing value in each column')
print(dataset.isnull().sum())

Missing value in each column
Patient_ID        0
Name              0
Age               5
Gender            2
Department        2
Doctor            1
Admission_Date    0
Discharge_Date    2
Diagnosis         2
Room_No           0
Bill_Amount       0
Status            0
dtype: int64

In [20]:
dataset['Age'] = dataset['Age'].fillna(dataset['Age'].mean())
dataset['Gender'] = dataset['Gender'].fillna(dataset['Gender'].mode()[0])
dataset['Department'] = dataset['Department'].fillna(dataset['Department'].mode()[0])
dataset['Doctor'] = dataset['Doctor'].fillna(dataset['Doctor'].mode()[0])
dataset['Discharge_Date'] = dataset['Discharge_Date'].fillna(dataset['Discharge_Date'].mode()[0])
dataset['Diagnosis'] = dataset['Diagnosis'].fillna(dataset['Diagnosis'].mode()[0])

In [12]:
dataset.isnull().sum()

Patient_ID        0
Name              0
Age               0
Gender            0
Department        0
Doctor            0
Admission_Date    0
Discharge_Date    0
Diagnosis         0
Room_No           0
Bill_Amount       0
Status            0
dtype: int64

In [16]:
dataset.replace([np.inf,-np.nan],np.nan,inplace=True)

remove the duplicates value

In [17]:
dataset.drop_duplicates(inplace=True)

replace negative salaries

In [21]:
dataset['Room_No'] = np.where(dataset['Room_No'] < 0, dataset['Room_No'].mean(), dataset['Room_No'])

In [22]:
dataset.to_csv('cleaned_hosptil_patient_data.csv',index=False)

In [23]:
print('Data cleaning! completed')

Data cleaning! completed

In [24]:
dataset = pd.read_csv("/content/cleaned_hosptil_patient_data.csv")
dataset.head(5)

,Patient_ID,Name,Age,Gender,Department,Doctor,Admission_Date,Discharge_Date,Diagnosis,Room_No,Bill_Amount,Status
0,P001,John,10.000000,Nan,Cardiology,Dr. Smith,2025-03-03,2025-01-11,Fever,213.00,29295.35,Discharged
1,P002,Sara,47.266667,Male,Cardiology,Dr. Khan,2025-01-28,2025-02-03,Infection,339.00,20981.68,Admitted
2,P003,David,73.000000,Male,Oncology,Dr. Lee,2025-03-07,2025-03-11,Diabetes,256.44,2673.43,Admitted
3,P004,Priya,48.000000,Male,Oncology,Dr. Brown,2025-01-31,2025-02-09,Infection,251.00,28035.81,Discharged
4,P005,Priya,18.000000,Female,General,Dr. Brown,2025-01-13,2025-01-19,Diabetes,214.00,37277.72,Discharged

In [25]:
dataset.isnull().sum()

Patient_ID        0
Name              0
Age               0
Gender            0
Department        0
Doctor            0
Admission_Date    0
Discharge_Date    0
Diagnosis         0
Room_No           0
Bill_Amount       0
Status            0
dtype: int64